---
title: Archive
subtitle: Posts created over a month ago
pageOrder: 2
---

each post in getCollection('archivedPosts').toJSON()
    != partial('post-list-item', {url: post.url, title: post.title, subtitle: post.subtitle,author: post.author, date: post.date})
