---
title: Archive
subtitle: Posts created over a month ago
headerImage: header-archive.jpg
pageOrder: 2
---

each post in getCollection('archivedPosts').toJSON()
    != partial('post-list-item', {post: post})
