---
title: Home
subtitle: "Welcome on the Blog DocPad"
pageOrder: 1
urls:
- '/'
---


- var posts = getCollection('activePosts').toJSON()

- var blogger = getMostActiveBlogger(posts)
.well.well-sm #{blogger.name} written the #{blogger.numberPosts} posts.

- each post in posts
    != partial('post-list-item', {post: post})
