header.intro-header(style="background-image:url('/images/home-bg.jpg')")
    .container
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                .page-heading
                    h1= document.title
                    if document.subtitle
                        hr.small
                        span.subheading= document.subtitle