nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
    .container-fluid
        .navbar-header.page-scroll
            <!-- Brand and toggle get grouped for better mobile display -->
            button.navbar-toggle(type="button",data-toggle="collapse",data-target="#navbar-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar

            a.navbar-brand(href=site.url) Blog DocPad

        <!-- Collect the nav links, forms, and other content for toggling -->
        #navbar-collapse.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                - each page in getCollection('pages').toJSON()
                    li(class= page.url == document.url ? "active" : "")
                        a(href= page.url, id= page.title=="Tags" ? "show-tags" : "")= page.title

        #nav-tags
            ul.nav
                - each tag in getCollection('tags').toJSON()
                    li
                        a(href= tag.url)= tag.tagName